Some remaining:
    Rule 2: Test driven!
    TDD, Test Driven Design.

#### Databases
0. What is Data Modeling

现实世界发生的事件，数据，行为。                             非逻辑化 数据化的 不讨论 混沌模型
    抽象到一个数学或逻辑模型。                              其基本性质为：布朗运动W(t)是期望为0、方差为t（时间）的正态随机变量。
    再进一步抽象到计算机计算和存储模型。                     how to store data? monte carlo simulation?
        最后抽象到具体的数据库和编程实现。

https://www.guru99.com/data-modelling-conceptual-logical.html

PPT


1. RDBMS and No-SQL
entity + relations (seperated tables + join them!)

https://blog.panoply.io/sql-or-nosql-that-is-the-question


SQL lookup like: https://www.google.com/search?q=sql+table+diagram&tbm=isch&source=iu&ictx=1&fir=d68vFUuCf6NtmM%253A%252CBX6txRG7ABC4EM%252C_&vet=1&usg=AI4_-kSa2Zg1Eb5P6TgLar_r9Vxl6a6L8A&sa=X&ved=2ahUKEwiH1_O63OriAhWIdt8KHeJGDyMQ9QEwAHoECAIQBA#imgrc=d68vFUuCf6NtmM:

kdb, influx db:
http://www.timestored.com/kdb-guides/qsql-inner-left-joins

https://www.google.com/search?q=influxdb+examples&source=lnms&tbm=isch&sa=X&ved=0ahUKEwitv53s3OriAhXFm-AKHd5KCYYQ_AUIECgB&biw=1920&bih=946#imgrc=ugEfG4IngQ2nMM:


由 sql nonsql 比较引出
Rule 3: Define the problem first, always!



2. SQL Modeling 
PPT


3. SQL
TSQL and SQL family 

PostgreSQL

CRUD, JOIN, Group BY


4. Python + SQL
Easy Exmpmle of PSQL



5. Data Modeling Full Picture

#### SQL
0. https://stackoverflow.com/questions/1043265/what-is-the-difference-between-sql-pl-sql-and-t-sql
1. https://www.geeksforgeeks.org/sql-ddl-dml-dcl-tcl-commands/
2. https://www.tutorialspoint.com/postgresql/


#### PG SQL
0. Postgresql
open source : 
more data types: http://www.postgresqltutorial.com/postgresql-data-types/
powerful performance: non-commercial one (mention JSON 

bad: one machine <- cannot scale too large (no over 100TB - PB level)

1. why command line
2. login : 
    psql -h 104.198.59.118 -U mike -d mikedb
    Hudson 2019
    
3. \l 
4. CREATE TABLE exchange 
CREATE TABLE exchange(
   id SERIAL PRIMARY KEY,
   name           VARCHAR(255)    NOT NULL,
           symbol     VARCHAR(32)   NOT NULL,
   created_at_z   TIMESTAMP     NOT NULL,
   status         VARCHAR(32) NOT NULL,
   address        VARCHAR(255)
);

5. \d

6. DROP TABLE exchange

7. INSERT
INSERT INTO exchange (name, symbol, created_at_z, status, address)
VALUES ('Hong Kong Stock Exchange', 'HKSE', current_timestamp, 'ACTIVE', 'somewhere in HK');

https://finance.yahoo.com/quote/0700.HK/

INSERT INTO exchange (name, symbol, created_at_z, status, address)
VALUES ('New York Stock Exchange', 'NYSE', current_timestamp, 'ACTIVE', 'wall street');

CME

8. MORE TABLES
CREATE TABLE company(
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    created_at_z TIMESTAMP NOT NULL,
    address VARCHAR(255)
);
INSERT INTO company (name,  created_at_z,address)
VALUES ('Tecent', current_timestamp, '');



CREATE TABLE stock (
    id SERIAL PRIMARY KEY,
    symbol VARCHAR(255) NOT NULL,
    c_id INT NOT NULL,
    e_id INT NOT NULL,
    status VARCHAR(32) NOT NULL,
    FOREIGN KEY (c_id) REFERENCES company (id),
    FOREIGN KEY (e_id) REFERENCES exchange (id)
);

INSERT INTO stock (symbol, c_id, )
VALUES ('Tecent', current_timestamp, '');

9. JOIN